@{
    ViewData["Title"] = "Suporte";
}
<h3>Contatos para Suporte</h3>
<br />
<h6>E-mail:alexandre@gmail.com</h6>
<h6>Telefone:(48) 98468-1212</h6>
<h6>Horário de atendimento: Segunda a sexta das 8:00AM às 17:00PM</h6>
